@import "tailwindcss";

@font-face {
  font-family: "Sansation";
  src: url("../public/fonts/Sansation-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "TasaoOrbiter";
  src: url("../public/fonts/TASAOrbiter-Regular.ttf") format("truetype");
  font-style: normal;
}

@theme {
  --font-title: Sansation, "sans-serif";
  --font-text: TasaoOrbiter, "sans-serif";
}
