@import "tailwindcss";

@font-face {
  font-family: "Sansation";
  src: url("/fonts/Sansation-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TasaOrbiter";
  src: url("/fonts/TASAOrbiter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-title: "Sansation", sans-serif;
  --font-text: "TasaOrbiter", sans-serif;
}
